<!-- ##### Hero Area Start ##### -->
<div class="hero-area d-flex flex-wrap">

    <div class="hero-single-section">
        <!-- Single Welcome Post -->
        <div class="single-welcome-post bg-img item1 wow fadeInUp" data-wow-delay="300ms"
            style="background-image: url(../../Content/img/bg-img/1.jpg);">
            <!-- Play Button -->
            <button type="button" class="video-play-btn" data-toggle="modal" data-target="#modalDiscount">
                <i class="fa fa-play"></i>
            </button>
            <!-- Content -->
            <div class="welcome-post-content">
                <!-- Single Blog Post -->
                <div class="single-blog-post white">
                    <div class="blog-content">
                        <a href="#" class="post-tag">Featured</a>
                        <a href="#" class="post-title">Watch a tiny cat taking a bath</a>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="hero-single-section">
        <!-- Single Welcome Post -->
        <div class="single-welcome-post bg-img item2 wow fadeInUp" data-wow-delay="400ms"
            style="background-image: url(../../Content/img/bg-img/2.jpg);">
            <!-- Content -->
            <div class="welcome-post-content">
                <!-- Single Blog Post -->
                <div class="single-blog-post white">
                    <div class="blog-content">
                        <a href="#" class="post-tag">Featured</a>
                        <a href="#" class="post-title">Spain: Take a virtual tour</a>

                    </div>
                </div>
            </div>
        </div>

        <div class="hero-second-section d-flex flex-wrap">
            <!-- Single Welcome Post -->
            <div class="single-welcome-post bg-img item3 wow fadeInUp" data-wow-delay="500ms"
                style="background-image: url(../../Content/img/bg-img/3.jpg);">
                <!-- Content -->
                <div class="welcome-post-content">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style2 white">
                        <div class="blog-content">
                            <a href="#" class="post-tag">Featured</a>
                            <a href="#" class="post-title">5 Tips to create your garden</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Single Welcome Post -->
            <div class="single-welcome-post bg-img item4 wow fadeInUp" data-wow-delay="600ms"
                style="background-image: url(../../Content/img/bg-img/4.jpg);">
                <!-- Content -->
                <div class="welcome-post-content">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post style2 white">
                        <div class="blog-content">
                            <a href="#" class="post-tag">Featured</a>
                            <a href="#" class="post-title">10 Movies you need to see</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- ##### Hero Area End ##### -->
<!-- ##### Tabs Area Start ##### -->
<div class="video-mag-tabs-area mt-50 wow fadeInUp" data-wow-delay="200ms">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active">Latest and Top Viewed</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-4">
                <!-- Single Blog Post -->
                <div class="single-blog-post style2">
                    <div class="blog-thumb mb-30">
                        <img src="~/Content/img/bg-img/7.jpg" alt="">
                        <!-- Play Button -->
                        <button type="button" class="video-play-btn style2" data-toggle="modal"
                            data-target="#modalDiscount">
                            <i class="fa fa-play"></i>
                        </button>
                    </div>
                    <div class="blog-content">
                        <a href="#" class="post-tag">Featured</a>
                        <a href="#" class="post-title">July Fails</a>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- Single Blog Post -->
                <div class="single-blog-post style2">
                    <div class="blog-thumb mb-30">
                        <img src="~/Content/img/bg-img/6.jpg" alt="">
                        <!-- Play Button -->
                        <button type="button" class="video-play-btn style2" data-toggle="modal"
                            data-target="#modalDiscount">
                            <i class="fa fa-play"></i>
                        </button>
                    </div>
                    <div class="blog-content">
                        <a href="#" class="post-tag">Featured</a>
                        <a href="#" class="post-title">Top Video Games</a>

                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <!-- Single Blog Post -->
                <div class="single-blog-post style2">
                    <div class="blog-thumb mb-30">
                        <img src="~/Content/img/bg-img/5.jpg" alt="">
                        <!-- Play Button -->
                        <button type="button" class="video-play-btn style2" data-toggle="modal"
                            data-target="#modalDiscount">
                            <i class="fa fa-play"></i>
                        </button>
                    </div>
                    <div class="blog-content">
                        <a href="#" class="post-tag">Featured</a>
                        <a href="#" class="post-title">Vacation Blog: Ibiza</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ##### Tabs Area End ##### -->
<!-- ##### Travel Videos Area Start ##### -->
<section class="travel-videos-area">
    <div class="container">
        <div class="travel-videos-content">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading wow fadeInUp" data-wow-delay="200ms">
                        <h2>Travel Videos</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-6">
                    <!-- Single Welcome Post -->
                    <div class="single-welcome-post style-2 bg-img mb-30 wow fadeInUp" data-wow-delay="300ms"
                        style="background-image: url(../../Content/img/bg-img/1.jpg);">
                        <!-- Play Button -->
                        <button type="button" class="video-play-btn style2" data-toggle="modal"
                            data-target="#modalDiscount">
                            <i class="fa fa-play"></i>
                        </button>
                        <!-- Content -->
                        <div class="welcome-post-content">
                            <!-- Single Blog Post -->
                            <div class="single-blog-post white">
                                <div class="blog-content">
                                    <a href="#" class="post-tag">Featured</a>
                                    <a href="#" class="post-title">Watch a tiny cat taking a bath</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-6">
                    <div class="row">

                        <!-- Single Blog Post -->
                        <div class="col-md-6">
                            <div class="single-blog-post style3 mb-30 wow fadeInUp" data-wow-delay="400ms">
                                <div class="blog-thumb mb-30">
                                    <img src="~/Content/img/bg-img/8.jpg" alt="">
                                    <!-- Play Button -->
                                    <button type="button" class="video-play-btn style2" data-toggle="modal"
                                        data-target="#modalDiscount">
                                        <i class="fa fa-play"></i>
                                    </button>
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-tag">Featured</a>
                                    <a href="#" class="post-title">New York Trip</a>

                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="col-md-6">
                            <div class="single-blog-post style3 mb-30 wow fadeInUp" data-wow-delay="500ms">
                                <div class="blog-thumb mb-30">
                                    <img src="~/Content/img/bg-img/9.jpg" alt="">
                                    <!-- Play Button -->
                                    <button type="button" class="video-play-btn style2" data-toggle="modal"
                                        data-target="#modalDiscount">
                                        <i class="fa fa-play"></i>
                                    </button>
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-tag">Featured</a>
                                    <a href="#" class="post-title">Coffee in Paris</a>

                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="col-md-6">
                            <div class="single-blog-post style3 mb-30 wow fadeInUp" data-wow-delay="600ms">
                                <div class="blog-thumb mb-30">
                                    <img src="~/Content/img/bg-img/10.jpg" alt="">
                                    <!-- Play Button -->
                                    <button type="button" class="video-play-btn style2" data-toggle="modal"
                                        data-target="#modalDiscount">
                                        <i class="fa fa-play"></i>
                                    </button>
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-tag">Featured</a>
                                    <a href="#" class="post-title">Summer Holiday</a>

                                </div>
                            </div>
                        </div>

                        <!-- Single Blog Post -->
                        <div class="col-md-6">
                            <div class="single-blog-post style3 mb-30 wow fadeInUp" data-wow-delay="700ms">
                                <div class="blog-thumb mb-30">
                                    <img src="~/Content/img/bg-img/11.jpg" alt="">
                                    <!-- Play Button -->
                                    <button type="button" class="video-play-btn style2" data-toggle="modal"
                                        data-target="#modalDiscount">
                                        <i class="fa fa-play"></i>
                                    </button>
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-tag">Featured</a>
                                    <a href="#" class="post-title">Discover the islands</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Travel Videos Area End ##### -->
<!-- ##### Big Add Area Start ##### -->
<div class="section-heading wow fadeInUp container" data-wow-delay="200ms">
    <h2>Memorable Days</h2>
</div>
<div class="big-add-area mb-100 wow fadeInUp" data-wow-delay="200ms">
    <div class="container-fluid">
        <a href="#"><img src="~/Content/img/bg-img/sample.jpg" alt=""></a>
    </div>
</div>
<div class="big-add-area mb-100 wow fadeInUp" data-wow-delay="200ms">
    <div class="container-fluid">
        <a href="#"><img src="~/Content/img/bg-img/sample2.jpg" alt=""></a>
    </div>
</div>

<!-- ##### Big Add Area End ##### -->
<!-- Modal for subscription -->
<!--Modal: modalDiscount-->
<div class="modal fade right" id="modalDiscount" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true" data-backdrop="true">
    <div class="modal-dialog modal-notify modal-danger" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading">
                <h3>Access Denied</h3>
                </p>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                </button>
            </div>

            <!--Body-->
            <div class="modal-body">

                <div class="row">
                    <div class="col-3">
                        <p></p>
                        <p class="text-center">
                            <i class="fa fa-gift fa-4x"></i>
                        </p>
                    </div>

                    <div class="col-9">

                        <strong>Follow the steps to Access the content.</strong>
                        <ul>
                            <li><i class="fa fa-check"></i> Sign Up</li>
                            <li><i class="fa fa-check"></i> Subscribe for content</li>
                            <li><i class="fa fa-check"></i> Follow users</li>
                        </ul>
                        </p>

                    </div>
                </div>
            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a href="#" class="btn btn-danger">
                    Sign up now
                    <i class="fa fa-diamond ml-1 white-text"></i>
                </a>
                <a type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">No, thanks</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalDiscount-->
<!-- Modal end -->